# Actividad 6: tratamiento de datos (parte 1)

> 1. Crea un dataframe y obtén la estadística descriptiva para todas las variables consideradas.

In [ ]:
import pandas as pd
import numpy as np

# Cargamos el dataset
df = pd.read_csv('nutrition-facts.csv')

# Obtenemos la estadística descriptiva para todas las variables consideradas.
df.describe()

> 2. Filtra la variable Calorías de acuerdo con algún criterio que encuentres documentado en un sitio de Internet (Cita la fuente). Crea nuevas variables con estos filtros.

In [ ]:
# "Según la Organización Mundial de la Salud (OMS) establece un cálculo genérico: entre 2,000 y 2,500 calorías para los hombres". Fuente: EXPANSION. (2019). ¿Cuántas calorías son demasiadas? Aprende a leer las etiquetas de los alimentos. Recuperado de https://expansion.mx/vida-arte/2019/08/05/cuantas-calorias-son-demasiadas-aprende-a-leer-las-etiquetas.
average= df[(df['Calories'] >= 2000) & (df['Calories'] <= 2500)]
average['Calories']

> 3. Crea un nuevo dataframe con las variables que consideres más relevantes para el análisis.

In [ ]:
low = df[(df['Calories'] < 2000)]
low['Calories']

In [ ]:
high = df[(df['Calories'] > 2500)]
high['Calories']

> 4. ¿Cómo consideras que son tus hábitos alimenticios? ¿Buenos? ¿Malos?

In [28]:
# Ciertamente, la media de calorías es de 2,000 a 2,500 calorías, teniendo esto en cuenta, en mi alimentación comí estas colorías unicamente 4 días ya que la mayoría de días (56 para ser exactos) comí menos de 2,000 calorías y los otros 3 días restantes si tienen más de 2,500 calorías, personalmente creo que es un poco exagerado comer más de 2,500 calorías en un día, pero si es posible, ya que en mi alimentación me excedí y comí 3 días más de 2,500 calorías. Aún así creo que es una alimentación saludable ya que si bien esta por debajo de la media de calorías, si es una alimentación balanceada y variada que se acerca bastante a este número.

# Actividad 8: tratamiento de datos (parte 2)

> a) Cambia el nombre a las columnas (no dejes espacios ni pongas acentos o caracteres especiales).

In [ ]:
df.replace('NA', np.nan, inplace=True)

df.columns = ['Calories', 'Carbohydrates', 'Lipids', 'Protein', 'Sodium']
df['Lipids'].fillna('No se registraron datos', inplace=True)
df

> b)  Rellena los datos faltantes mediante la técnica del promedio.

In [46]:
# b)  Rellena los datos faltantes mediante la técnica del promedio.

""" df['Calories'].fillna(df['Calories'].mean(), inplace=True) """
df.fillna(df.mean(numeric_only=True), inplace=True)
df

       Calories  Carbohydrates                   Lipids  Protein  Sodium
0   1180.627119            143  No se registraron datos       47    2182
1   1180.627119            157  No se registraron datos       79    2000
2   1180.627119            150  No se registraron datos       61    1630
3   1180.627119            197  No se registraron datos       52    1721
4   1435.000000            122  No se registraron datos       60    2669
..          ...            ...                      ...      ...     ...
58  1061.000000            146  No se registraron datos       47     967
59   878.000000             76  No se registraron datos       30    1665
60   844.000000             82  No se registraron datos       38    1587
61  1435.000000            162  No se registraron datos       58     921
62  1476.000000            111  No se registraron datos       30    1322

[63 rows x 5 columns]